body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.windows-wrapper {
    width: 80%;
    height: 80%;
    border: 1px solid black;
}
.items-block__item {
    /* display: inline-block; */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.items-block {
    display: flex;
}